/*сброс всех стилей*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*для ссылок*/

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/*для основы*/

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/*для формы*/

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}



/*основные переменные*/
:root {
  --container-width: 1270px;
  --container-padding: 15px;
}

/*основной контейнер*/
.container {
  max-width: var(--container-width);
  margin: 0 auto; /*по центру*/
  padding: 0 var(--container-padding); /*отступы*/
}
  
/*заголовки страниц*/
.title {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 35px;
  font-weight: 700;
  align-items: center;
}

.task {
  background-color: white; /* белый фон */
  border-radius: 8px; /* закругленные углы */
  box-shadow: 0 2px 4px rgba(39, 245, 191, 0.8); /* тень */
  padding: 20px; /* отступы */
  margin-bottom: 20px;
}

.task h3 {
  font-weight: bold; /* жирный шрифт для названия */
}


.task .marks {
  white-space: nowrap; 
}

.task .description {
  overflow: hidden; /* скрываем часть описания, которая не помещается */
  max-height: 40px; /* максимальная высота двух строк */
  transition: max-height 0.3s ease; /* анимация при изменении высоты */
}

.task:hover .description {
  max-height: none; /* при наведении открываем полностью */
}

